* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/bg.png);
  background-position: center top;
  background-size: 100% auto;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

#container {
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 180px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 8px;
  display: flex;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-background-filter: blur(4px);

  font-weight: 500;
  text-decoration: none;

  transition: background 0.2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

#social-icons {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  font-size: 24px;
}

#social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-icons a:hover {
  background: rgba(255, 255, 255, 0.2);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
